  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"-->
  <head>
    <link href="sliderstyle.css" type="text/css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content",
      beforeActivate: function(event, ui) {
         // The accordion believes a panel is being opened
        if (ui.newHeader[0]) {
            var currHeader  = ui.newHeader;
            var currContent = currHeader.next('.ui-accordion-content');
         // The accordion believes a panel is being closed
        } else {
            var currHeader  = ui.oldHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        }
         // Since we've changed the default behavior, this detects the actual status
        var isPanelSelected = currHeader.attr('aria-selected') == 'true';

         // Toggle the panel's header
        currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));

        // Toggle the panel's icon
        currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);

         // Toggle the panel's content
        currContent.toggleClass('accordion-content-active',!isPanelSelected)    
        if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

        return false; // Cancel the default action
    }
    });
  });
  </script>
</script>
</head>
<!-- the things that helps keep the panels open is p. complex. if this causes problems, could use simple-expander-->
<body>
<div id="outerbox">

<div id="accordion">
  hello! I'm Zoe. This is my portfolio. This is some guff about myself. woo.
  <h3>GRAPHIC & WEB</h3>

     <div id="pix">
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum pri<br>
    <a href="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/q71/s720x720/1560669_10151976176167659_430763943_n.jpg"><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/q71/s720x720/1560669_10151976176167659_430763943_n.jpg" /></a>
    <a href="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/t31/q71/s720x720/1899529_10151976175622659_1427222493_o.jpg"><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/t31/q71/s720x720/1899529_10151976175622659_1427222493_o.jpg" /></a>
    <a href="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/q71/s720x720/1891566_10151976176057659_2101905460_o.jpg"><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/q71/s720x720/1891566_10151976176057659_2101905460_o.jpg" /></a>
    <a href="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/q71/s720x720/1560669_10151976176167659_430763943_n.jpg"><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/q71/s720x720/1560669_10151976176167659_430763943_n.jpg" /></a>
    <a href="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/t31/q71/s720x720/1899529_10151976175622659_1427222493_o.jpg"><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/t31/q71/s720x720/1899529_10151976175622659_1427222493_o.jpg" /></a>
    <a href="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/q71/s720x720/1891566_10151976176057659_2101905460_o.jpg"><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/q71/s720x720/1891566_10151976176057659_2101905460_o.jpg" /></a>
    <!-- to fix these being weird when enlarged (lol), may need to put them all in different divs that can float/rearrange somehow when enlarged? -->
  </div>
  <h3>ILLUSTRATION</h3>
  <div id="accordion"><!-- this is probably causing the jerky thing to happen - b/c it has an unspecified div and p-->
    <h4>hello wolololol</h4><div>Leggings selvage shabby chic PBR&B kitsch. DIY distillery chillwave keffiyeh. Hoodie fixie Schlitz, Cosby sweater dreamcatcher four loko Carles occupy single-origin coffee plaid slow-carb wolf distillery American Apparel. Vinyl hoodie master cleanse irony kale chips, chillwave VHS Portland Williamsburg Truffaut quinoa. Portland fanny pack brunch gastropub, Etsy Neutra synth kale chips Marfa. Letterpress butcher High Life craft beer, Intelligentsia single-origin coffee four loko. Hoodie pour-over mixtape forage wayfarers, shabby chic mlkshk bitters pork belly skateboard fap deep v.</div>

<h4>Chambray irony umami selfies lomo,</h4><div> Tonx 3 wolf moon chia quinoa cornhole artisan iPhone literally PBR&B. Vice mixtape blog Carles tousled hoodie. Brunch quinoa direct trade iPhone VHS, ennui Terry Richardson organic biodiesel hella food truck. XOXO letterpress Tonx 8-bit whatever, Vice master cleanse Echo Park hashtag swag leggings literally. Chillwave chia McSweeney's pour-over quinoa street art Intelligentsia, authentic ethical. Kitsch Neutra Terry Richardson wayfarers, aesthetic yr sriracha irony Cosby sweater letterpress lo-fi church-key. Disrupt pickled pour-over fashion axe.</div>

<h4>Tousled cornhole cray, </h4><div>post-ironic bitters Odd Future occupy Thundercats fanny pack typewriter flannel semiotics Echo Park. Cornhole normcore cliche single-origin coffee, stumptown chillwave raw denim tattooed pour-over pop-up farm-to-table fashion axe. Yr American Apparel retro fashion axe. Mlkshk biodiesel wayfarers Blue Bottle cliche kitsch. Godard mumblecore umami, XOXO whatever chia butcher readymade put a bird on it lomo pop-up High Life tote bag tousled. Irony meh jean shorts plaid pork belly wayfarers asymmetrical, lo-fi forage bicycle rights readymade 3 wolf moon PBR&B aesthetic mustache. Organic tattooed PBR, you probably haven't heard of them wayfarers authentic kogi cliche gentrify pour-over Tonx YOLO fashion axe ethnic.</div>

  </div>
  <h3>FILM PHOTOGRAPHY</h3>
<div class="slider"> 
        <input type="radio" id="control1" name="controls" checked="checked"/>
        <label for="control1"></label>
        <input type="radio" id="control2" name="controls"/>
        <label for="control2"></label>
        <input type="radio" id="control3" name="controls"/>
        <label for="control3"></label>
        <input type="radio" id="control4" name="controls"/>
        <label for="control4"></label>
        <input type="radio" id="control5" name="controls"/>
        <label for="control5"></label>
        <div class="sliderinner">
            <ul>
                <li>
                    <img src="http://i.imgur.com/jGmSyOD.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 1</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/q71/s720x720/1560669_10151976176167659_430763943_n.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 2</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://i.imgur.com/jGmSyOD.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 3</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://i.imgur.com/jGmSyOD.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 4</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://i.imgur.com/jGmSyOD.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <h2>Slideshow Title 5</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--slider-->

 
  <h3>CONTACT</h3>
  <div>
    You can contact me by emailing zoedeans@gmail.com or calling 027 491 9960.</div>
  </div> </div>
 </div>

</body>
</html>