  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"-->
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
  });
  </script>
</head>
<body>
 <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcR5mui9q-Q3sdE52bSh52m31OPRl_oLgchlXW3xSqAZcRdZfkra5g">
<div id="accordion">
  <h3>Section 1</h3>

   <div>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</div>
  <h3>Section 2</h3>
  <div><!-- this is probably causing the jerky thing to happen - b/c it has an unspecified div and p-->
    Leggings selvage shabby chic PBR&B kitsch. DIY distillery chillwave keffiyeh. Hoodie fixie Schlitz, Cosby sweater dreamcatcher four loko Carles occupy single-origin coffee plaid slow-carb wolf distillery American Apparel. Vinyl hoodie master cleanse irony kale chips, chillwave VHS Portland Williamsburg Truffaut quinoa. Portland fanny pack brunch gastropub, Etsy Neutra synth kale chips Marfa. Letterpress butcher High Life craft beer, Intelligentsia single-origin coffee four loko. Hoodie pour-over mixtape forage wayfarers, shabby chic mlkshk bitters pork belly skateboard fap deep v.

Chambray irony umami selfies lomo, Tonx 3 wolf moon chia quinoa cornhole artisan iPhone literally PBR&B. Vice mixtape blog Carles tousled hoodie. Brunch quinoa direct trade iPhone VHS, ennui Terry Richardson organic biodiesel hella food truck. XOXO letterpress Tonx 8-bit whatever, Vice master cleanse Echo Park hashtag swag leggings literally. Chillwave chia McSweeney's pour-over quinoa street art Intelligentsia, authentic ethical. Kitsch Neutra Terry Richardson wayfarers, aesthetic yr sriracha irony Cosby sweater letterpress lo-fi church-key. Disrupt pickled pour-over fashion axe.

Tousled cornhole cray, post-ironic bitters Odd Future occupy Thundercats fanny pack typewriter flannel semiotics Echo Park. Cornhole normcore cliche single-origin coffee, stumptown chillwave raw denim tattooed pour-over pop-up farm-to-table fashion axe. Yr American Apparel retro fashion axe. Mlkshk biodiesel wayfarers Blue Bottle cliche kitsch. Godard mumblecore umami, XOXO whatever chia butcher readymade put a bird on it lomo pop-up High Life tote bag tousled. Irony meh jean shorts plaid pork belly wayfarers asymmetrical, lo-fi forage bicycle rights readymade 3 wolf moon PBR&B aesthetic mustache. Organic tattooed PBR, you probably haven't heard of them wayfarers authentic kogi cliche gentrify pour-over Tonx YOLO fashion axe ethnic.

Tofu YOLO 90's, 8-bit seitan hashtag butcher stumptown. Tumblr PBR&B small batch blog Neutra Intelligentsia, fashion axe Portland artisan skateboard tattooed locavore mlkshk fanny pack ethnic. Pork belly cliche bespoke Blue Bottle roof party. VHS DIY selvage craft beer, salvia organic readymade kitsch. Tousled biodiesel kale chips Etsy deep v. Retro beard meh Helvetica cornhole hashtag artisan. Locavore beard sriracha, jean shorts occupy pop-up Brooklyn twee.
  </div>
  <h3>Section 3</h3>
  <div>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. 
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </div>
</div>
 
 
</body>
</html>