   <!--link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"-->
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="sliderstyle.css" type="text/css" rel="stylesheet">
    <link href="sliderstyle2.css" type="text/css" rel="stylesheet">
    <link href="sliderstyle3.css" type="text/css" rel="stylesheet">
   <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content",
      beforeActivate: function(event, ui) {
        if (ui.newHeader[0]) {
            var currHeader  = ui.newHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        } else {
            var currHeader  = ui.oldHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        }
        var isPanelSelected = currHeader.attr('aria-selected') == 'true';
        currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));
        currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
        currContent.toggleClass('accordion-content-active',!isPanelSelected)    
        if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

        return false; 
    }
    });
  });
  </script>
</script>
</head>
<!-- note to self: the things that helps keep the panels open is p. complex. if this causes problems, could use simple-expander-->
<body>
  
  <style>
   body {background-image:url("/tesselate.svg");background-repeat:repeat;}
</style>
  <div id="intro"><div id="zd">ZOË DEANS</div><div id="tagline">GRAPHIC DESIGN, <br>WEB DESIGN,<br>ILLUSTRATION.<br>ALL THE THINGS!</div><div id="email">zoedeans@gmail.com - 027 491 9960</gmail></div></div>
<div id="outerbox">
<div id="accordion">
  <h3>GRAPHIC & BRANDING<img src="/downarrow.svg" class="arrow"></h3>

     <div class="slider"> 
        <input type="radio" id="control1" name="controls" checked="checked"/>
        <label for="control1"></label>
        <input type="radio" id="control2" name="controls"/>
        <label for="control2"></label>
        <input type="radio" id="control3" name="controls"/>
        <label for="control3"></label>
        <input type="radio" id="control4" name="controls"/>
        <label for="control4"></label>
        <input type="radio" id="control5" name="controls"/>
        <label for="control5"></label>
        <input type="radio" id="control6" name="controls"/>
        <label for="control6"></label>
        <input type="radio" id="control7" name="controls"/>
        <label for="control7"></label>
        <input type="radio" id="control8" name="controls"/>
        <label for="control8"></label>
        <div class="sliderinner">
            <ul>
                <li>
                    <img src="/graphic4.png" />
                    <div class="description">
 
                        <div class="description-text">
                    
                            <p>Logo design and branding work for Brisbane turf company, Turf and Landcare Science, completed early 2014</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic7.png" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Packaging design for Equinail horseshoe nails, completed September 2014</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic5.png" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Letterpress experiments with natural material, as part of a side project about reducing food waste</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic1.png" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Business plan and dossier for Load Game, a hypothetical gamification start-up created as part of a university paper</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic6.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Calendar poster design for Matariki 2012</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic8.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Accompanying pocket mod booklet for Matariki 2012</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic3.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Infographic and slideshow work done as part of LifeHack Labs 2014
                            </p>
                        </div>
                    </div>
                </li>
                  <li>
                    <img src="/graphic9.png" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Logo and branding for Life Energy Unlimited, a holistic health company. Completed August 2014</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!--slider-->
    </div>
  <h3>WEB & APP<img src="/downarrow.svg" class="arrow"></h3>
  <div class="slider2"> 
        <input type="radio" id="control9" name="controls" checked="checked"/>
        <label for="control9"></label>
        <input type="radio" id="control10" name="controls"/>
        <label for="control10"></label>
        <input type="radio" id="control11" name="controls"/>
        <label for="control11"></label>
        <input type="radio" id="control12" name="controls"/>
        <label for="control12"></label>
        <!--input type="radio" id="control13" name="controls"/>
        <label for="control13"></label-->
        <div class="sliderinner2">
            <ul>
                <li>
                    <img src="/web2.png" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>App UI, branding and splash page design work for GoFlo, a youth well-being start-up that helps youth find their voice through rap. Visit <a href="http://goflo.co.nz">goflo.co.nz</a> for more info</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/web4.png" />
                    <div class="description">
 
                        <div class="description-text">
                           
                            <p>Logo design, branding and e-commerce site design for P3 Equestrian. Visit <a href="http://www.p3trade.co.nz">p3trade.co.nz</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/web1.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>UI design for Two Talking counselling services site</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/web3.png" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Concept, campaign, branding and web design for Drop In, a collective resource for groups and individuals protesting oil drilling in New Zealand</p>
                        </div>
                    </div>
                </li>
                <!--li>
                    <img src="/illus6.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Hyper-realistic (and fairly creepy) digital self-portrait.</p>
                        </div>
                    </div>
                </li-->
            </ul>
        </div>
    </div>

  <h3>ILLUSTRATION<img src="/downarrow.svg" class="arrow"></h3>
<div class="slider3"> 
        <input type="radio" id="control14" name="controls" checked="checked"/>
        <label for="control14"></label>
        <input type="radio" id="control15" name="controls"/>
        <label for="control15"></label>
        <input type="radio" id="control16" name="controls"/>
        <label for="control16"></label>
        <input type="radio" id="control17" name="controls"/>
        <label for="control17"></label>
        <input type="radio" id="control18" name="controls"/>
        <label for="control18"></label>
        <input type="radio" id="control19" name="controls"/>
        <label for="control19"></label>
        <input type="radio" id="control20" name="controls"/>
        <label for="control20"></label>
        <input type="radio" id="control21" name="controls"/>
        <label for="control21"></label>
        <div class="sliderinner3">
            <ul>
                <li>
                    <img src="/illus5.png" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Wellington Zoo poster, digital</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus4.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Illustration for Maori myth, Hinewhaitiri. Watercolour and gouache</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus9.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Hyperrealistic self-portrait, digital</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus3.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Watercolour and ink illustration for a Tim Burton poem, Stain Boy</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus2.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Portrait completed as part of Interfaces, my fourth-year design honours project that used interactive illustration to critique online identity formation. Digital</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus7.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Landscape concept art for video game Steam Mechanicus, completed as part of Grow Wellington's PIPI project</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus1.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Watercolour wash and charcoal portrait (I like portraits!)</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus8.png" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Cartoon completed for current employers. Biro with digital colouring</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div></div>
<!--slider-->
 
  <h3>ABOUT <img src="/downarrow.svg" class="arrow"></h3>
  <div id="contact">
    Hi! I'm Zoë. I do things like graphics and web design, illustration and horse wrangling (really!). I'm involved with environmental activism and I have recently started a project in the youth well-being sector, which is really exciting. If you have experience in this area, I'd love to talk to you.<br><br>

    I graduated last year with an honours in design from Massey University, Wellington. My illustration background means that I enjoy visual storytelling and my design often has a quirky sense of narrative. I have a fondness for typography and a sharp eye for typographic detailing.<br><br>
    I built this website with Ruby on Rails, HTML5, CSS3 and a little JQuery. I'm still learning so if you have any suggestions or hints, let me know.<br><br>
    I currently work remotely as a web and graphic designer for a nifty little company, but I'm also available for freelance or contract work. Get in touch with me to discuss your timeline, requirements, design hopes and dreams. <br><br>

    zoedeans@gmail.com<br>
    @zoedeans<br>
    027 491 9960<br><br>
  </div> </div>
 </div>

<div id="footer"><p>ZOË DEANS, 2014<br>mobile version in progress!</p></div>
</body>
</html>