  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"-->
  <head>
    <link href="sliderstyle.css" type="text/css" rel="stylesheet">
    <link href="sliderstyle2.css" type="text/css" rel="stylesheet">
    <link href="sliderstyle3.css" type="text/css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content",
      beforeActivate: function(event, ui) {
        if (ui.newHeader[0]) {
            var currHeader  = ui.newHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        } else {
            var currHeader  = ui.oldHeader;
            var currContent = currHeader.next('.ui-accordion-content');
        }
        var isPanelSelected = currHeader.attr('aria-selected') == 'true';
        currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));
        currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
        currContent.toggleClass('accordion-content-active',!isPanelSelected)    
        if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

        return false; 
    }
    });
  });
  </script>
</script>
</head>
<!-- note to self: the things that helps keep the panels open is p. complex. if this causes problems, could use simple-expander-->
<body>
  
  <style>
   body {background-image:url("/tesselate.svg");background-repeat:repeat;}
</style>
  <div id="intro"><div id="zd">ZOË DEANS</div><div id="tagline">ILLUSTRATOR, WEB <br>AND GRAPHIC DESIGNER, TAKER OF BLURRY PHOTOGRAPHS</div><div id="email">zoedeans@gmail.com / 027 491 9960</div></div>
<div id="outerbox">
<div id="accordion">
  <h3>GRAPHIC & WEB <img src="/downarrow.svg" class="arrow"></h3>

     <div class="slider"> 
        <input type="radio" id="control1" name="controls" checked="checked"/>
        <label for="control1"></label>
        <input type="radio" id="control2" name="controls"/>
        <label for="control2"></label>
        <input type="radio" id="control3" name="controls"/>
        <label for="control3"></label>
        <input type="radio" id="control4" name="controls"/>
        <label for="control4"></label>
        <input type="radio" id="control5" name="controls"/>
        <label for="control5"></label>
        <input type="radio" id="control6" name="controls"/>
        <label for="control6"></label>
        <input type="radio" id="control7" name="controls"/>
        <label for="control7"></label>
        <input type="radio" id="control8" name="controls"/>
        <label for="control8"></label>
        <div class="sliderinner">
            <ul>
                <li>
                    <img src="/graphic7.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                    
                            <p>The Interfaces Project, a conceptual web and illustration based project that questions how and why we create online identities. Completed as part of my honours year at Massey University, Wellington.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic2.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Informative typographic booklet, A Punctuated History.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic1.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>A Punctuated History.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic8.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Letterpress alphabet made from rice, as part of a booklet about reducing food waste.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic6.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Website design for Drop In, a campaign centered around enabling New Zealanders to peacefully protest deep-sea oil drilling.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic9.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Dossier design for Load Game, a start-up company providing gamification services.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/graphic3.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Design for typographic booklet and calendar poster for Matariki, the Maori New Year.
                            </p>
                        </div>
                    </div>
                </li>
                  <li>
                    <img src="/graphic4.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Detail of Matariki booklet.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!--slider-->
    </div>
  <h3>ILLUSTRATION <img src="/downarrow.svg" class="arrow"></h3>
  <div class="slider2"> 
        <input type="radio" id="control9" name="controls" checked="checked"/>
        <label for="control9"></label>
        <input type="radio" id="control10" name="controls"/>
        <label for="control10"></label>
        <input type="radio" id="control11" name="controls"/>
        <label for="control11"></label>
        <input type="radio" id="control12" name="controls"/>
        <label for="control12"></label>
        <input type="radio" id="control13" name="controls"/>
        <label for="control13"></label>
        <div class="sliderinner2">
            <ul>
                <li>
                    <img src="/illus1.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Diving Under, an illustration about the experience of reading. Acrylic on board.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus5.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                           
                            <p>A watercolour illustration for Stain Boy, a poem by Tim Burton.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus2.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Detail of a poster designed to advertise Wellington Zoo. Digital.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus4.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                        
                            <p>Hinewhaitiri, a watercolour illustration to accompany a school journal rendition of the Maori myth of Hinewhaitiri and the storm.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/illus6.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Hyper-realistic (and fairly creepy) digital self-portrait.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

  <h3>FILM PHOTOGRAPHY <img src="/downarrow.svg" class="arrow"></h3>
  <div id="words">I shoot 35mm film on a beat-up old Olympus OM-1, which is patched in places with tinfoil to stop light leaks. It's a hardy beast and earlier this year I took it adventuring in Vietnam for two months - it held up surprisingly well and getting all the rolls of film developed was like reliving my time away. 
<div class="slider3"> 
        <input type="radio" id="control14" name="controls" checked="checked"/>
        <label for="control14"></label>
        <input type="radio" id="control15" name="controls"/>
        <label for="control15"></label>
        <input type="radio" id="control16" name="controls"/>
        <label for="control16"></label>
        <input type="radio" id="control17" name="controls"/>
        <label for="control17"></label>
        <input type="radio" id="control18" name="controls"/>
        <label for="control18"></label>
        <div class="sliderinner3">
            <ul>
                <li>
                    <img src="/pic1.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            
                            <p>Ha Long Bay, Vietnam</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/pic2.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Scorch-O-Rama Cafe at Scorching Bay, Wellington</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/pic3.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Da Lat, Vietnam</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/pic4.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Portrait of a lovely flatmate!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/pic5.jpg" />
                    <div class="description">
 
                        <div class="description-text">
                            <p>Wellington hills</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div></div>
    </div><!--slider-->

 
  <h3>CONTACT <img src="/downarrow.svg" class="arrow"></h3>
  <div id="contact">
    zoedeans@gmail.com
<br>Wellington, New Zealand<br>
    027 491 9960 <br>
<a href="https://dl.dropboxusercontent.com/u/50236274/ZoeDeansCV.pdf">Download my CV here!</a></div>
  </div> </div>
 </div>

<div id="footer"><p>ZOË DEANS, 2014</p></div>
</body>
</html>