/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body {
	background-color: #eaeae9;
	color: #484847;
	font-family: 'Dosis', sans-serif;
}

* { margin: 0; padding: 0; }
 
.slider {
    display: block;
    height: 420px;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
 
.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.sliderinner>ul {
    list-style: none;
    height: 100%;
    width: 800%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.sliderinner>ul>li {
    width: 12.5%;
    height: 420px;
    float: left;
    position: relative;
}
 
.sliderinner>ul>li>img {
    margin: auto;
    height: 100%;
}
 
.slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 0x;
    z-index: 100;
    visibility: hidden;
}
 
.slider label {
    position: absolute;
    left: 10%;
    top: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    z-index: 2000;
    background-color: #52E1E8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
 
.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
.slider input[type=radio]#control5:checked~label[for=control5] { background-color: #333; }
.slider input[type=radio]#control6:checked~label[for=control6] { background-color: #333; }
.slider input[type=radio]#control7:checked~label[for=control7] { background-color: #333; }
.slider input[type=radio]#control8:checked~label[for=control8] { background-color: #333; }

.slider label[for=control1] { margin-left: -54px }
.slider label[for=control2] { margin-left: -36px }
.slider label[for=control3] { margin-left: -18px }
.slider label[for=control5] { margin-left: 18px }
.slider label[for=control6] { margin-left: 36px }
.slider label[for=control7] { margin-left: 54px }
.slider label[for=control8] { margin-left: 72px }


.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.slider input[type=radio]#control5:checked~.sliderinner>ul { left: -400% }
.slider input[type=radio]#control6:checked~.sliderinner>ul { left: -500% }
.slider input[type=radio]#control7:checked~.sliderinner>ul { left: -600% }
.slider input[type=radio]#control8:checked~.sliderinner>ul { left: -700% }
 
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:Dosis;
    font-size: 12pt;
    z-index: 1000;
}
.description-text {
    background-color: rgba(32,32,31,.8);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}

--------------------------------------------------------------------------------------------------------

.slider2 {
    display: block;
    height: 450px;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
 
.sliderinner2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.sliderinner2>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.sliderinner2>ul>li {
    width: 20%;
    height: 450px;
    float: left;
    position: relative;
}
 
.sliderinner2>ul>li>img {
    margin: auto;
    height: 100%;
}
 
.slider2 input[type=radio] {
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 100;
    visibility: hidden;
}
 
.slider2 label {
    position: absolute;
    left: 10%;
    top: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    z-index: 2000;
    background-color: #52E1E8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
 
.slider2 input[type=radio]#control9:checked~label[for=control9] { background-color: #333; }
.slider2 input[type=radio]#control10:checked~label[for=control10] { background-color: #333; }
.slider2 input[type=radio]#control11:checked~label[for=control11] { background-color: #333; }
.slider2 input[type=radio]#control12:checked~label[for=control12] { background-color: #333; }
.slider2 input[type=radio]#control13:checked~label[for=control13] { background-color: #333; }
.slider2 label[for=control9] { margin-left: -36px }
.slider2 label[for=control10] { margin-left: -18px }
.slider2 label[for=control12] { margin-left: 18px }
.slider2 label[for=control13] { margin-left: 36px }
.slider2 input[type=radio]#control9:checked~.sliderinner2>ul { left: 0 }
.slider2 input[type=radio]#control10:checked~.sliderinner2>ul { left: -100% }
.slider2 input[type=radio]#control11:checked~.sliderinner2>ul { left: -200% }
.slider2 input[type=radio]#control12:checked~.sliderinner2>ul { left: -300% }
.slider2 input[type=radio]#control13:checked~.sliderinner2>ul { left: -400% }
 
.description2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:Dosis;
    font-size: 15px;
    z-index: 1000;
}
.description-text2 {
    background-color: rgba(32,32,31,.8);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}

.slider3 {
    display: block;
    height: 450px;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
 
.sliderinner3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.sliderinner3>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.sliderinner3>ul>li {
    width: 20%;
    height: 450px;
    float: left;
    position: relative;
}
 
.sliderinner3>ul>li>img {
    margin: auto;
    height: 100%;
}
 
.slider3 input[type=radio] {
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 100;
    visibility: hidden;
}
 
.slider3 label {
    position: absolute;
    left: 10%;
    top: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    z-index: 2000;
    background-color: #52E1E8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
 
.slider3 input[type=radio]#control14:checked~label[for=control14] { background-color: #333; }
.slider3 input[type=radio]#control15:checked~label[for=control15] { background-color: #333; }
.slider3 input[type=radio]#control16:checked~label[for=control16] { background-color: #333; }
.slider3 input[type=radio]#control17:checked~label[for=control17] { background-color: #333; }
.slider3 input[type=radio]#control18:checked~label[for=control18] { background-color: #333; }
.slider3 label[for=control14] { margin-left: -36px }
.slider3 label[for=control15] { margin-left: -18px }
.slider3 label[for=control17] { margin-left: 18px }
.slider3 label[for=control18] { margin-left: 36px }
.slider3 input[type=radio]#control14:checked~.sliderinner3>ul { left: 0 }
.slider3 input[type=radio]#control15:checked~.sliderinner3>ul { left: -100% }
.slider3 input[type=radio]#control16:checked~.sliderinner3>ul { left: -200% }
.slider3 input[type=radio]#control17:checked~.sliderinner3>ul { left: -300% }
.slider3 input[type=radio]#control18:checked~.sliderinner3>ul { left: -400% }
 
.description3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:Dosis;
    font-size: 15px;
    z-index: 1000;
}
.description-text3 {
    background-color: rgba(32,32,31,.8);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outerbox {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    background-color: #eaeae9;
    border-width: 10px;
    border-style: double;
    border-color: #9b4399;
}

 #accordion {  
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   background-color: #eaeae9;
}  

h3 {  
    font-family: Dosis, sans-serif;
    font-size: 18pt;
    background-color: #52E1E8;
    box-shadow: 3px 3px #484847;
    padding-left: 10px;
}  
// 
// #accordion .ui-accordion-header:first-of-type {  
//  background-color: #fa9300; }
//
// #accordion .ui-accordion-header:nth-of-type(3) {
//  background-color: blue; }

h4 {
    font-family: Dosis, sans-serif;
    background-color: #ffffff;
}

body {
  font-family: Dosis, sans-serif;
  font-size: 14pt;
}

.arrow {
  width:10px;
  height: 10px;
  padding: 1px;
}

#words {
  padding-top:10px;
}

#contact {
  padding-top:10px;
  font-style: bold;
  font-size: 15pt;
}

#footer {
  height: 100px;
  text-align: center;
  margin-top:100px;
}
    // ---------------------------------------------------------------------- //
#outerbox {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  background-color: #eaeae9;
  border-width: 10px;
  border-style: double;
  border-color: #9b4399; }

#accordion {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeae9; }

h3 {
  background-color: #52E1E8;
  box-shadow: 3px 3px #484847;
  padding-left: 10px; }

img {
  height: auto;
  max-width: 200px;
  padding-right: 10px;
  padding-bottom: 10px;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

img.expanded {
  max-width: 100%;
  left: 0px; }

#pix {
  width: 800px; }

h4 {
  background-color: #ffffff; }

#slides {
  display: none; }
