
.slider3 {
    display: block;
    height: 450px;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
 
.sliderinner3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.sliderinner3>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.sliderinner3>ul>li {
    width: 20%;
    height: 450px;
    float: left;
    position: relative;
}
 
.sliderinner3>ul>li>img {
    margin: auto;
    height: 100%;
}
 
.slider3 input[type=radio] {
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 100;
    visibility: hidden;
}
 
.slider3 label {
    position: absolute;
    left: 10%;
    top: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    z-index: 2000;
    background-color: #52E1E8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
 
.slider3 input[type=radio]#control14:checked~label[for=control14] { background-color: #333; }
.slider3 input[type=radio]#control15:checked~label[for=control15] { background-color: #333; }
.slider3 input[type=radio]#control16:checked~label[for=control16] { background-color: #333; }
.slider3 input[type=radio]#control17:checked~label[for=control17] { background-color: #333; }
.slider3 input[type=radio]#control18:checked~label[for=control18] { background-color: #333; }
.slider3 label[for=control14] { margin-left: -36px }
.slider3 label[for=control15] { margin-left: -18px }
.slider3 label[for=control17] { margin-left: 18px }
.slider3 label[for=control18] { margin-left: 36px }
.slider3 input[type=radio]#control14:checked~.sliderinner3>ul { left: 0 }
.slider3 input[type=radio]#control15:checked~.sliderinner3>ul { left: -100% }
.slider3 input[type=radio]#control16:checked~.sliderinner3>ul { left: -200% }
.slider3 input[type=radio]#control17:checked~.sliderinner3>ul { left: -300% }
.slider3 input[type=radio]#control18:checked~.sliderinner3>ul { left: -400% }
 
.description3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:Dosis;
    font-size: 15px;
    z-index: 1000;
}
.description-text3 {
    background-color: rgba(32,32,31,.8);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}