<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis:300,400,700' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/application.css">
  <link href="sliderstyle.css" type="text/css" rel="stylesheet">
  <link href="sliderstyle2.css" type="text/css" rel="stylesheet">
  <link href="sliderstyle3.css" type="text/css" rel="stylesheet">
  <title>Zoe Deans - illustration, web and graphic design</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
